<!DOCTYPE html>
<html>

<head>
    <title>SiwVariant - Variant</title>
    <link rel="stylesheet" href="/css/stile.css" />
</head>

<body>
	<nav>
	<span class="username-in-alto" th:text="${userDetails.username}"></span>
	<br>
	<span><a href = "/logout">Logout</a></span>
	</nav>
	<header>
		<a href = "/"><h1>SiwVariant</h1></a>
	</header>
    <div>
        <img src="https://static.bandainamcoent.eu/high/dragon-ball/dragonball-xenoverse-2/00-page-setup/dbxv2_game-thumbnail.jpg" width="20%" />
    </div>
    <h1>Rimuovi un editore!</h1>
    <div>
        <div th:if="${elencoEditori==null || elencoEditori.isEmpty()}">
            Non ci sono editori nel sistema!
        </div>
        <div th:unless="${elencoEditori==null || elencoEditori.isEmpty()}">
        	<ul>
            	<li th:each="editore : ${elencoEditori}">
                	<a th:href="@{'/editore' + '/' + ${editore.id}}" th:text="${editore.nome}">Editore Generico</a>
					<a th:href="@{'/admin/rimuoviEditore' + '/' + ${editore.id}}">: Rimuovi questo editore</a>
            	</li>
        	</ul>
        </div>
    </div>
</body>

</html>