<!DOCTYPE html>
<html>

<head>
    <title>SiwVariant - Pagina Editore</title>
    <link rel="stylesheet" href="/css/stile.css" />
</head>

<body>
	<nav>
	<span class="username-in-alto" th:if="${userDetails!=null}" th:text="${userDetails.username}"></span>
	<br>
	<span><a href = "/logout">Logout</a></span>
	</nav>
	<header>
		<a href = "/"><h1>SiwVariant</h1></a>
	</header>

    <div th:if="${editore}">
         <h2 th:text="${editore.nome}">Nome editore </h2>
         <br>
		 <span th:if="${editore.pathImmagine != null && editore.pathImmagine != ''}">
		 	<img th:src="${editore.pathImmagine}" width="20%">
		 </span>
         <div>
			 Nazionalità: <span th:text="${editore.nazione}"></span>
         </div>
         <br>
         <div id="flex-container-1-list">
			<div class= "content">
			 <h3>Variant pubblicate:</h3>
			 <ul>
				<div><br></div>
				 <li th:each="variant : ${editore.variantPubblicate}">
					<span th:if="${variant.manga != null}">
					 	<a th:href="@{'/variant' + '/' + ${variant.id}}"
					 		th:text="${variant.nomeVariant} + ' - Manga: ' + ${variant.manga.titolo} + ' [Volume: ' + ${variant.volume} + '] 
								[' + ${variant.dataUscita} + '] [' + ${variant.effettoCopertina} + ']'">Variant Generica</a>	
					</span>
					<span th:unless="${variant.manga != null}">
						<a th:href="@{'/variant' + '/' + ${variant.id}}"
							th:text="${variant.nomeVariant}">Variant Generica</a>
					</span>
					<div><br></div>
				 </li>
			 </ul>
			 </div>
         </div>
    </div>
    </div>
    <div th:unless="${editore}">Questo editore non è presente nel sistema!</div>
</body>

</html>