<!DOCTYPE html>
<html>

<head>
    <title>SiwVariant - Pagina Editore</title>
    <link rel="stylesheet" href="/css/stile.css" />
</head>

<body>
	
	<nav th:if="${userDetails!=null}">
		<span class="username-in-alto" th:text="${userDetails.username}"></span>
		<br>
		<span><a href = "/logout">Logout</a></span>
		<br>
	</nav>
	
	<nav th:unless="${userDetails!=null}">
		<a th:href="@{/register}">Clicca qui per registrarti!</a> <br>
		<a th:href="@{/login}">Login</a> <br>
	</nav>
	
	<header>
		<a href = "/"><h1>SiwVariant</h1></a>
	</header>

    <div th:if="${editore}">
         <h2 th:text="${editore.nome}">Nome editore </h2>
         <div id="flex-container-1">	
			<img class="border" th:if="${editore.pathImmagine != null && editore.pathImmagine != ''}" th:src="${editore.pathImmagine}" width="30%">
			 <div id="flex-container-1-column">
				 <div id="flex-container-2">
					 <div class="flexbox-text">
						<br>
		 				<span th:text="'Nazionalità: ' + ${editore.nazione}"></span>
		 				<br><br>
					 </div>
				 </div>
			 </div>
         </div>
         <br>
         <div id="flex-container-1-list">
			<div class= "content">
			 <h3>Variant pubblicate:</h3>
			 <ul>
				<div><br></div>
				 <li th:each="variant : ${editore.variantPubblicate}">
					<span th:if="${variant.manga != null}">
					 	<a th:href="@{'/variant' + '/' + ${variant.id}}"
					 		th:text="${variant.nomeVariant} + ' - Manga: ' + ${variant.manga.titolo} + ' [Volume: ' + ${variant.volume} + '] 
								[' + ${variant.dataUscita} + '] [' + ${variant.effettoCopertina} + ']'">Variant Generica</a>	
					</span>
					<span th:unless="${variant.manga != null}">
						<a th:href="@{'/variant' + '/' + ${variant.id}}"
							th:text="${variant.nomeVariant}">Variant Generica</a>
					</span>
					<div><br></div>
				 </li>
			 </ul>
			 </div>
         </div>
    </div>
    </div>
    <h2 th:unless="${editore}">Questo editore non è presente nel sistema!</h2> 
</body>

</html>