<!DOCTYPE html>
<html>

<head>
    <title>SiwVariant - Editori</title>
    <link rel="stylesheet" href="/css/stile.css" />
</head>

<body>
	<nav>
	<span class="username-in-alto" th:if="${userDetails!=null}" th:text="${userDetails.username}"></span>
	<br>
	<span><a href = "/logout">Logout</a></span>
	</nav>
	<header>
		<a href = "/"><h1>SiwVariant</h1></a>
	</header>
    <div>
        <img src="https://static.bandainamcoent.eu/high/dragon-ball/dragonball-xenoverse-2/00-page-setup/dbxv2_game-thumbnail.jpg" width="20%" />
    </div>
    <h1>Benvenuto nell'elenco editori!</h1>
    <div>
        <div th:if="${allEditori==null || allEditori.isEmpty()}">
            Non ci sono editori nel sistema!
        </div>
        <div th:unless="${allEditori==null || allEditori.isEmpty()}">
        	<ul>
            	<li th:each="editore : ${allEditori}">
                	<a th:href="@{'/editore' + '/' + ${editore.id}}" th:text="${editore.nome} + ' - ' + ${editore.nazione}">Editore Generico</a>
				
            	</li>
        	</ul>
        </div>
    </div>
</body>

</html>