<!DOCTYPE html>
<html>

<head>
    <title>SiwVariant - Manga</title>
    <link rel="stylesheet" href="/css/stile.css" />
</head>

<body>
    <div>
        <img src="https://static.bandainamcoent.eu/high/dragon-ball/dragonball-xenoverse-2/00-page-setup/dbxv2_game-thumbnail.jpg" width="20%" />
    </div>
    <h1>Benvenuto nell'elenco manga!</h1>
    <div>
        <div th:if="${allMangas==null || allMangas.isEmpty()}">
            Non ci sono manga nel sistema!
        </div>
        <div th:unless="${allMangas==null || allMangas.isEmpty()}">
        	<ul>
            	<li th:each="manga : ${allMangas}">
                	<a th:href="@{'/impostaMangaAVariant' + '/' + ${idVariant} + '/' + ${manga.id}}" 
						th:text="${manga.titolo} + ' [' + ${manga.numeroVolumi} + ']'" >Manga Generico [0]</a>
            	</li>
        	</ul>
        </div>	
    </div>
</body>

</html>