<!DOCTYPE html>
<html>



	<head>
	    <title>SiwVariant - Manga</title>
	    <link rel="stylesheet" href="/css/stile.css" />
	</head>
	
	
	
	<body>
		
		<nav th:if="${userDetails!=null}">
			<span class="username-in-alto" th:text="${userDetails.username}"></span>
			<br>
			<span><a href = "/logout">Logout</a></span>
			<br>
		</nav>
		
		<nav th:unless="${userDetails!=null}">
			<a th:href="@{/register}">Clicca qui per registrarti!</a> <br>
			<a th:href="@{/login}">Login</a> <br>
		</nav>
		
		<header>
			<a href = "/"><h1>SiwVariant</h1></a>
		</header>
	
	    <h2>Imposta il manga a una tua variant</h2>
		
	    <div id="flex-container-1-list">
			<div class="content">
		        <div th:if="${allMangas==null || allMangas.isEmpty()}">
					<div><br></div>
					<h2>Non ci sono manga nel sistema!</h2>
					<div><br></div>
		        </div>
		        <div th:unless="${allMangas==null || allMangas.isEmpty()}">
		        	<ul>
						<div><br></div>
		            	<li th:each="manga : ${allMangas}">
		                	<a th:href="@{'/impostaMangaAVariant' + '/' + ${idVariant} + '/' + ${manga.id}}" 
								th:text="${manga.titolo} + ' [' + ${manga.numeroVolumi} + ']'" >Manga Generico [0]</a>
							<div><br></div>
		            	</li>
		        	</ul>
		        </div>
	        </div>	
	    </div>
	</body>

</html>