<!DOCTYPE html>
<html>

<head>
    <title>SiwVariant - Variant</title>
    <link rel="stylesheet" href="/css/stile.css" />
</head>

<body>
	<nav>
	<span class="username-in-alto" th:text="${userDetails.username}"></span>
	<br>
	<span><a href = "/logout">Logout</a></span>
	</nav>
	<header>
		<a href = "/"><h1>SiwVariant</h1></a>
	</header>
	
    <h2>Rimuovi una delle tue variant!</h2>
    <div>
        <div th:if="${elencoVariantEditore==null || elencoVariantEditore.isEmpty()}">
            Non ci sono variant di questo editore nel sistema!
        </div>
        <div th:unless="${elencoVariantEditore==null || elencoVariantEditore.isEmpty()}">
        	<ul>
            	<li th:each="variant : ${elencoVariantEditore}">
                	<a th:href="@{'/variant' + '/' + ${variant.id}}" 
						th:text="${variant.nomeVariant} + ' [' + ${variant.volume} + ']'" >Variant Generica</a>
					<a th:href="@{'/rimuoviVariant' + '/' + ${variant.id}}">: Rimuovi questa variant!</a>
            	</li>
        	</ul>
        </div>
    </div>
</body>

</html>