<!DOCTYPE html>
<html>

<head>
    <title>SiwVariant - Variant</title>
    <link rel="stylesheet" href="/css/stile.css" />
</head>

<body>
	<nav>
	<span class="username-in-alto" th:if="${userDetails!=null}" th:text="${userDetails.username}"></span>
	<br>
	<span><a href = "/logout">Logout</a></span>
	</nav>
	<header>
		<a href = "/"><h1>SiwVariant</h1></a>
	</header>

    <h2>Benvenuto nell'elenco variant!</h2>
    <div>
        <div th:if="${allVariants==null || allVariants.isEmpty()}">
            Non ci sono variant nel sistema!
        </div>
        <div th:unless="${allVariants==null || allVariants.isEmpty()}">
        	<ul>
            	<li th:each="variant : ${allVariants}">
                	<a th:href="@{'/variant' + '/' + ${variant.id}}" 
						th:text="${variant.nomeVariant}" >Variant Generica</a>
            	</li>
        	</ul>
        </div>
    </div>
</body>

</html>