<!DOCTYPE html>
<html>

<head>
    <title>SiwVariant - Manga</title>
    <link rel="stylesheet" href="/css/stile.css" />
</head>

<body>
	<nav>
	<span class="username-in-alto" th:if="${userDetails!=null}" th:text="${userDetails.username}"></span>
	<br>
	<span><a href = "/logout">Logout</a></span>
	</nav>
	<header>
		<a href = "/"><h1>SiwVariant</h1></a>
	</header>
 
    <h2>Benvenuto nell'elenco manga!</h2>
    <div>
        <div th:if="${allMangas==null || allMangas.isEmpty()}">
            Non ci sono manga nel sistema!
        </div>
        <div th:unless="${allMangas==null || allMangas.isEmpty()}">
        	<ul>
            	<li th:each="manga : ${allMangas}">
                	<a th:href="@{'/manga' + '/' + ${manga.id}}" 
						th:text="${manga.titolo} + ' [' + ${manga.numeroVolumi} + ']'" >Manga Generico [0]</a>
            	</li>
        	</ul>
        </div>	
    </div>
</body>

</html>