<!DOCTYPE html>
<html>


	
	<head>
	    <title>SiwVariant - Variant</title>
	    <link rel="stylesheet" href="/css/stile.css" />
	</head>
	
	
	
	<body>
		
		<nav>
			<span class="username-in-alto" th:if="${userDetails!=null}" th:text="${userDetails.username}"></span>
			<br>
			<span><a href = "/logout">Logout</a></span>
		</nav>
		
		<header>
			<a href = "/"><h1>SiwVariant</h1></a>
		</header>
	  
	    <h2>Gestione delle tue variant</h2>
		
	     <div id="flex-container-1-list">
			<div class="content">
		        <div th:if="${allVariants==null || allVariants.isEmpty()}">
					<div><br></div>
					<h2>Non ci sono variant nel sistema!</h2>
					<div><br></div>
		        </div>
		        <div th:unless="${allVariants==null || allVariants.isEmpty()}">
					<div><br></div>
		        	<ul>
		            	<li th:each="variant : ${allVariants}">
		                	<a th:href="@{'/variant' + '/' + ${variant.id}}" 
								th:text="${variant.nomeVariant} + ' [' + ${variant.volume} + ']'" >Variant Generica</a>
							<a th:href="@{'/impostaMangaAVariant' + '/' + ${variant.id}}">Imposta Manga</a>
		            		<div><br></div>
		            	</li>
		        	</ul>
		        </div>
	        </div>
	    </div>
	</body>

</html>