<!DOCTYPE html>
<html>

<head>
    <title>SiwVariant - Variant</title>
    <link rel="stylesheet" href="/css/stile.css" />
</head>

<body>
    <div>
        <img src="https://static.bandainamcoent.eu/high/dragon-ball/dragonball-xenoverse-2/00-page-setup/dbxv2_game-thumbnail.jpg" width="20%" />
    </div>
    <h1>Benvenuto nell'elenco variant!</h1>
    <div>
        <div th:if="${allVariants==null || allVariants.isEmpty()}">
            Non ci sono variant nel sistema!
        </div>
        <ul>
            <li th:each="variant : ${allVariants}">
                <a th:href="@{'/variant' + '/' + ${variant.id}}" 
					th:text="${variant.manga.titolo} + ' [' + ${variant.volume} + '] 
					[' + ${variant.dataUscita} + '] [' + ${variant.effettoCopertina} + ']'" >Variant Generica</a>
            </li>
        </ul>
    </div>
</body>

</html>