<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Siwvariant registration</title>
</head>
<body>
    <h2>User Registration Form 2</h2>
    <form th:action="@{/register}" method="POST" th:object="${credentials}">
        <label for="username">Username:</label><br>
        <input type="text" th:field="${credentials.username}" required>
		<br><br>
        <label for="password">Password:</label><br>
        <input type="password" th:field="${credentials.password}" required>
		<br><br>
		<label for="password">Nome:</label><br>
		<input type="text" th:field="${credentials.user.nome}" required>
		<br><br>
		<label for="password">Cognome:</label><br>
		<input type="text" th:field="${credentials.user.cognome}" required>
		
        <input type="submit" value="Register">
    </form>
</body>
</html>
