<!DOCTYPE html>
<html>
<head>
    <title>Siwvariant - Pagina nuova variant</title>
</head>
<body>
    <h2>Aggiungi nuova variant</h2>
    <form th:action="@{/aggiungiVariant}" method="POST" th:object="${nuovaVariant}">
		<div th:if="${#fields.hasGlobalErrors()}">
			<p th:each="err : ${#fields.globalErrors()}" th:text="${err}"></p>
		</div>
		<div>
        	Data di uscita: <input required type="date" th:field="${nuovaVariant.dataUscita}">
        	<span th:if="${#fields.hasErrors('dataUscita')}" th:errors="*{dataUscita}"></span>
			<br><br>
        	Nome editore: <input required type="text" th:field="${editore.nome}">
        	<span th:if="${#fields.hasErrors('editore.nome')}" th:errors="{editore.nome}"></span>
			<br><br>
			Nazionalità editore: <input required type="text" th:field="${editore.nazione}">
        	<span th:if="${#fields.hasErrors('editore.nazione')}" th:errors="{editore.nazione}"></span>
			<br><br>
			Percorso file immagine: <input type="text" th:field="${nuovaVariant.pathImmagine}">
			<br><br>
			Descrizione: <input type="text" th:field="${nuovaVariant.descrizione}">
			<br><br>
			Titolo manga: <input required type="text" th:field="${manga.titolo}">
        	<span th:if="${#fields.hasErrors('manga.titolo')}" th:errors="{manga.titolo}"></span>
			<br><br>
			Autore manga: <input required type="text" th:field="${manga.autore}">
        	<span th:if="${#fields.hasErrors('manga.autore')}" th:errors="{manga.autore}"></span>
			<br><br>
			Volume: <input required type="text" th:field="${nuovaVariant.volume}">
        	<span th:if="${#fields.hasErrors('volume')}" th:errors="*{volume}"></span>
			<br><br>
			Rarità: <input required type="text" th:field="${nuovaVariant.rarità}">
        	<span th:if="${#fields.hasErrors('rarità')}" th:errors="*{rarità}"></span>
			<br><br>
			Effetto Copertina: <input required type="text" th:field="${nuovaVariant.effettoCopertina}">
        	<span th:if="${#fields.hasErrors('effettoCopertina')}" th:errors="*{effettoCopertina}"></span>
			<br><br>
        </div>
        <div>
			<span><button type="submit">Conferma</button></span>
		</div>
    </form>
</body>
</html>