<!DOCTYPE html>
<html>
<head>
    <title>Siwvariant - Pagina ricerca editore</title>
    <link rel="stylesheet" href="/css/stile.css" />
</head>
<body>
	
		<nav th:if="${userDetails!=null}">
			<span class="username-in-alto" th:text="${userDetails.username}"></span>
			<br>
			<span><a href = "/logout">Logout</a></span>
			<br>
		</nav>
		
		<nav th:unless="${userDetails!=null}">
			<a th:href="@{/register}">Clicca qui per registrarti!</a> <br>
			<a th:href="@{/login}">Login</a> <br>
		</nav>
	<header>
		<a href = "/"><h1>SiwVariant</h1></a>
	</header>
	
    <h2>Ricerca editore per nazione</h2>
    <div id="flex-container-1">
		<div id="flex-container-2-search">
		<br>
		    <form class="centered" th:action="@{/ricercaEditorePerNazione}" method="POST">
				<div>
		        	Nazione editore: <input required type="text" th:field="${editoreInfos.nazione}">
					<br><br>
		        </div>
		        <div>
					<span><button type="submit">Conferma</button></span>
				</div>
		    </form>
		    <br>
		</div>
	</div>
</body>
</html>
