<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Siwvariant registration</title>
</head>
<body>
    <h2>User Registration Form 2</h2>
    <form th:action="@{/register}" method="POST" th:object="${credentials}">
		<div th:if="${#fields.hasGlobalErrors()}">
			<p th:each="err : ${#fields.globalErrors()}" th:text="${err}"></p>
		</div>
        <label for="username">Username:</label><br>
        <input type="text" th:field="${credentials.username}" required>
		<span th:if="${#fields.hasErrors('username')}" th:errors="${credentials.username}"></span>
		<br><br>
        <label for="password">Password:</label><br>
        <input type="password" th:field="${credentials.password}" required>
		<span th:if="${#fields.hasErrors('password')}" th:errors="${credentials.password}"></span>
		<br><br>
		<label for="password">Nome:</label><br>
		<input type="text" th:field="${user.nome}" required>
		<span th:if="${userErrors != null and userErrors.hasFieldErrors('nome')}" th:errors="${user.nome}"></span>
		<br><br>
		<label for="password">Cognome:</label><br>
		<input type="text" th:field="${user.cognome}" required>
		<span th:if="${userErrors != null and userErrors.hasFieldErrors('cognome')}" th:errors="${user.cognome}"></span>
		<label for="password">Nome editore:</label><br>
		<input type="text" th:field="${editore.nome}" required>
		<span th:if="${editoreErrors != null and editoreErrors.hasFieldErrors('nome')}" th:errors="${editore.nome}"></span>
		<br><br>
		<label for="password">Nazione:</label><br>
		<input type="text" th:field="${editore.nazione}" required>
		<span th:if="${editoreErrors != null and editoreErrors.hasFieldErrors('nazione')}" th:errors="${editore.nazione}"></span>
		
        <input type="submit" value="Register">
    </form>
</body>
</html>
