<!DOCTYPE html>
<html lang="en">
<head>
    <title>Siwvariant - Pagina nuovo editore</title>
</head>
<body>
    <h2>Aggiungi nuovo editore</h2>
    <form th:action="@{/aggiungiEditore}" method="POST" th:object="${nuovoEditore}">
		<div th:if="${#fields.hasGlobalErrors()}">
			<p th:each="err : ${#fields.globalErrors()}" th:text="${err}"></p>
		</div>
		<div>
        	Nome editore: <input required type="text" th:field="${nuovoEditore.nome}">
        	<span th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}"></span>
			<br><br>
        	Nazione: <input required type="text" th:field="${nuovoEditore.nazione}">
        	<span th:if="${#fields.hasErrors('nazione')}" th:errors="*{nazione}"></span>
			<br><br>
			Percorso file immagine: <input type="text" th:field="${nuovoEditore.pathImmagine}">
        </div>
        <div>
			<span><button type="submit">Conferma</button></span>
		</div>
    </form>
</body>
</html>
