<!DOCTYPE html>
<html>
<head>
    <title>Siwvariant - Pagina ricerca editore</title>
    <link rel="stylesheet" href="/css/stile.css" />
</head>
<body>
	
	<nav>
	<span class="username-in-alto" th:if="${userDetails!=null}" th:text="${userDetails.username}"></span>
	<br>
	<span><a href = "/logout">Logout</a></span>
	</nav>
	<header>
		<a href = "/"><h1>SiwVariant</h1></a>
	</header>
	
    <h2>Ricerca editore per nome</h2>
    <form class="centered" th:action="@{/ricercaEditorePerNome}" method="POST">
		<div>
        	Nome editore: <input required type="text" th:field="${editoreInfos.nome}">
			<br><br>
        </div>
        <div>
			<span><button type="submit">Conferma</button></span>
		</div>
    </form>
</body>
</html>
