<!DOCTYPE html>
<html>

<head>
	<title>
		SiwVariant - Homepage
	</title>
	<link rel="stylesheet" href="/css/stile.css" />
</head>

<body>
	<div><img src="https://static.bandainamcoent.eu/high/dragon-ball/dragonball-xenoverse-2/00-page-setup/dbxv2_game-thumbnail.jpg" width="20%" /></div>
	<h1>Benvenuto in siwvariant!</h1>
	<div>
		GESTIONE ROBA EDITORI <br>
		<a th:href="@{/elencoEditori}">Visualizza elenco editori</a> <br>
		<a th:href="@{/aggiungiEditore}">Aggiungi Editore</a> <br>
		<a th:href="@{/rimuoviEditore}">Rimuovi Editore</a> <br>
		<a th:href="@{/modificaVariantEditore}">Modifica dati degli Editori</a> <br>
		<br><br>
		GESTIONE ROBA MANGA <br>
		<a th:href="@{/elencoManga}">Visualizza elenco manga</a> <br>
		<a th:href="@{/aggiungiManga}">Aggiungi Manga</a> <br>
		<a th:href="@{/rimuoviManga}">Rimuovi Manga</a> <br>
		<a th:href="@{/elencoAggiornaManga}">Modifica dati dei Manga</a> <br>
		<a th:href="@{/ricercaMangaPerTitolo}">Cerca Manga per titolo</a> <br>
		<a th:href="@{/ricercaMangaPerAutore}">Cerca Manga per autore</a> <br>
		<br><br>
		GESTIONE ROBA VARIANT <br>
		<a th:href="@{/elencoAggiornaVariant}">elencoAggiornaVariant</a> <br>
		<a th:href="@{/elencoVariant}">Visualizza elenco variant</a> <br>
		<a th:href="@{/aggiungiVariant}">Aggiungi Variant</a> <br>
		<a th:href="@{/rimuoviVariant}">Rimuovi Variant</a> <br>
		<a th:href="@{/formRicercaVariant}">Cerca Variant</a> <br>
		<a th:href="@{/modificaVariant}">Modifica dati delle Variant</a> <br>
	</div>
</body>

</html>