<!DOCTYPE html>
<html>

<head>
	<title>
		SiwVariant - Homepage
	</title>
	<link rel="stylesheet" href="/css/stile.css" />
</head>

<body>
	<h2>METTI REGISTER LOGIN QUA</h2>
	<div><img src="https://static.bandainamcoent.eu/high/dragon-ball/dragonball-xenoverse-2/00-page-setup/dbxv2_game-thumbnail.jpg" width="20%" /></div>
	<h1>Benvenuto in siwvariant! UTENTE GENERICO</h1>
	<div>
		GESTIONE ROBA EDITORI <br>
		<a th:href="@{/elencoEditori}">Visualizza elenco editori</a> <br>
		<a th:href="@{/ricercaEditorePerNome}">Cerca editore per nome</a> <br>
		<a th:href="@{/ricercaEditorePerNazione}">Cerca editore per nazione</a> <br>
		<br><br>
		GESTIONE ROBA MANGA <br>
		<a th:href="@{/elencoManga}">Visualizza elenco manga</a> <br>
		<a th:href="@{/ricercaMangaPerTitolo}">Cerca Manga per titolo</a> <br>
		<a th:href="@{/ricercaMangaPerAutore}">Cerca Manga per autore</a> <br>
		<br><br>
		GESTIONE ROBA VARIANT <br>
		<a th:href="@{/elencoVariant}">Visualizza elenco variant</a> <br>
		<a th:href="@{/formRicercaVariant}">Cerca Variant</a> <br>
		<br><br>
		<a th:href="@{/register}">Clicca qui per registrarti!</a> <br>
		<a th:href="@{/login}">Login</a> <br>
	</div>
</body>

</html>