<!DOCTYPE html>
<html>

<head>
	<title>
		SiwVariant - Homepage
	</title>
	<link rel="stylesheet" href="/css/stile.css" />
</head>

<body>
	<div><img src="https://static.bandainamcoent.eu/high/dragon-ball/dragonball-xenoverse-2/00-page-setup/dbxv2_game-thumbnail.jpg" width="20%" /></div>
	<h1>Benvenuto in siwvariant!</h1>
	<div>
		GESTIONE ROBA EDITORI <br>
		<a th:href="@{/elencoEditori}">elencoEditori</a> <br>
		<a th:href="@{/aggiungiEditore}">aggiungiEditore</a> <br>
		<a th:href="@{/rimuoviEditore}">rimuoviEditore</a> <br>
		<a th:href="@{/modificaEditore}">modificaEditore</a> <br>
		<br><br>
		GESTIONE ROBA MANGA <br>
		<a th:href="@{/elencoManga}">elencoManga</a> <br>
		<a th:href="@{/aggiungiManga}">aggiungiManga</a> <br>
		<a th:href="@{/rimuoviManga}">rimuoviManga</a> <br>
		<a th:href="@{/modificaManga}">modificaManga</a> <br>
		<br><br>
		GESTIONE ROBA VARIANT <br>
		<a th:href="@{/elencoAggiornaVariant}">elencoAggiornaVariant</a> <br>
		<a th:href="@{/elencoVariant}">elencoVariant</a> <br>
		<a th:href="@{/aggiungiVariant}">aggiungiVariant</a> <br>
		<a th:href="@{/rimuoviVariant}">rimuoviVariant</a> <br>
		<a th:href="@{/modificaVariant}">modificaVariant</a> <br>
	</div>
</body>

</html>