<!DOCTYPE html>
<html>
	
	<head>
	    <title>SiwVariant - Pagina Editore</title>
	    <link rel="stylesheet" href="/css/stile.css" />
	</head>
	
	<body>
		
			<nav th:if="${userDetails!=null}">
				<span class="username-in-alto" th:text="${userDetails.username}"></span>
				<br>
				<span><a href = "/logout">Logout</a></span>
				<br>
			</nav>
		
			<nav th:unless="${userDetails!=null}">
				<a th:href="@{/register}">Clicca qui per registrarti!</a> <br>
				<a th:href="@{/login}">Login</a> <br>
			</nav>
		
		<header>
			<a href = "/"><h1>SiwVariant</h1></a>
		</header>
		
	    <div th:if="${variant}">
			<h2 th:text="${variant.nomeVariant}">Nome variant</h2>
	         <div id="flex-container-1">	
				<img class="border" th:if="${variant.pathImmagine != null && variant.pathImmagine != ''}" th:src="${variant.pathImmagine}" width="30%">
				 <div id="flex-container-1-column">
					 <div id="flex-container-2">
						 <div class="flexbox-text">
							 <br>
							 <span th:text="'Data Uscita: ' + ${variant.dataUscita}"></span>
				         	 <br>
							 <span th:text="${variant.descrizione}"></span>
							 <br>
							<span th:text="'Rarità: ' + ${variant.rarità} + '/10'"></span>
							 <br>
							 <span th:text="'Effetto copertina: ' + ${variant.effettoCopertina}"></span>
							 <br>
							 <span th:text="'Volume: ' + ${variant.volume}"></span>
							 <br><br>
						</div>
					 </div>
					 <div><br></div>
					 <div th:if="${variant.manga!=null || variant.editore!=null} " id="flex-container-2">
						<div class="flexbox-text">
							<br th:if="${variant.manga!=null || variant.editore!=null}">
							  	<a th:if="${variant.manga!=null}" th:href="@{'/manga' + '/' + ${variant.manga.id}}" th:text="'Manga: ' + ${variant.manga.titolo}"></a>
							 	<br th:if="${variant.manga!=null}">
							 	<a th:if="${variant.editore!=null}" th:href="@{'/editore' + '/' + ${variant.editore.id}}" th:text="'Editore: ' + ${variant.editore.nome}"></a>
								<br th:if="${variant.editore!=null}">
							<br th:if="${variant.manga!=null || variant.editore!=null}">
						</div>
					 </div>
				 </div>
	         </div>
	         <br>           
	    </div>
	    <h2 th:unless="${variant}">Questa variant non è presente nel sistema!</h2>
	</body>

</html>